@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-flag-container {
        @apply z-20 bg-red-500 absolute top-5 -left-3 rounded-br rounded-tr;
    }

    .card-flag-container:before {
        content: "";
        border-width: 0 .8rem .8rem 0;
        border-color: transparent #ef4444 transparent transparent;

        @apply absolute top-8 w-0 h-0 border-solid;
    }

    .card-flag {
        @apply block py-2 px-3 text-white text-xs font-medium;
    }

    .star-icon {
        @apply text-base relative cursor-pointer transition
    }

    .star-icon:before {
        content: '\2605';

        @apply absolute left-0;
    }

    .price-label {
        @apply text-lg font-medium text-black;
    }

    .price-label-old {
        @apply font-normal text-zinc-400 leading-4;
    }

    .modal-box-container {
        @apply w-full h-screen p-2 z-20 flex justify-center items-center fixed top-0 left-0  bg-black/60 min-w-[320px];
    }

    .modal-box-container > .content {
        @apply rounded bg-white min-w-[320px] relative
    }

    .product-heading {
        @apply text-black text-lg mt-2 truncate;
    }

    .wizard-heading {
        @apply w-full flex justify-center items-center transition duration-300 h-0 border;
    }

    .wizard-heading-circle {
        @apply bg-white p-2 rounded-full cursor-pointer border relative;
    }

    .wizard-heading-circle.active:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 105%;
        left: 50%;
        transform: translateX(-50%);

        border-left: .9rem solid transparent;
        border-right: .9rem solid transparent;
        border-bottom: .9rem solid #22c55e;
    }

    .wizard-heading-icon {
        @apply w-8 h-8 transition duration-300
    }

    .receipt-item {
        @apply flex justify-between relative bg-white;
    }

    .receipt-item:after {
        content: '';
        display: block;
        border-bottom: .1rem dotted #0f172a;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -.5rem;
        z-index: 1;
    }
}

.page-container {
    min-height: calc(100vh - 8rem);
}

.fade-in {
    animation: fadeIn .8s ease;
}

.fade-out {
    animation: fadeOut .3s ease;
}

.animation-delay-200 {
    animation-delay: 200ms;
}

.animation-delay-300 {
    animation-delay: 300ms;
}

.animation-delay-400 {
    animation-delay: 400ms;
}

.animate-wish-list {
    animation: wish-list 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}


@keyframes wish-list {
    75%, 100% {
        transform: scale(1.15);
        color: #ef4444;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}